<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236729608522-66h7c4fei4hrv4954236nr8rshgvbenv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236729608522-66h7c4fei4hrv4954236nr8rshgvbenv</string>
	<key>API_KEY</key>
	<string>AIzaSyCZlM5mylW1F2-87L4S2ZrTJOs4eQWiVVs</string>
	<key>GCM_SENDER_ID</key>
	<string>236729608522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financeTracker</string>
	<key>PROJECT_ID</key>
	<string>finance-tracker-a6be7</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-tracker-a6be7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236729608522:ios:0a119538b6db300423f9b3</string>
</dict>
</plist>